################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SHAHTRADE/.vs/SHAHTRADE/FileContentIndex/705959a6-8a96-4772-aead-dee22aa870bf.vsidx
/SHAHTRADE/.vs/SHAHTRADE/FileContentIndex/73bce50d-380f-409f-9a18-67dcf0375742.vsidx
/SHAHTRADE/.vs/SHAHTRADE/FileContentIndex/db2238be-efab-4022-a367-8b0c97777d1a.vsidx
