################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SHAHTRADE/.vs/SHAHTRADE/FileContentIndex/705959a6-8a96-4772-aead-dee22aa870bf.vsidx
