################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SHAHTRADE/.vs/SHAHTRADE/FileContentIndex/705959a6-8a96-4772-aead-dee22aa870bf.vsidx
/SHAHTRADE/.vs/SHAHTRADE/FileContentIndex/73bce50d-380f-409f-9a18-67dcf0375742.vsidx
/SHAHTRADE/.vs/SHAHTRADE/FileContentIndex/db2238be-efab-4022-a367-8b0c97777d1a.vsidx
/SHAHTRADE/.vs/SHAHTRADE/FileContentIndex/23b15b70-92fd-4826-a1ac-6a829378f212.vsidx
/SHAHTRADE/.vs/SHAHTRADE/FileContentIndex/f4e4464a-3ff8-4922-bbe7-39685f8d6c47.vsidx
/SHAHTRADE/.vs/SHAHTRADE/FileContentIndex/8f683f32-a653-4666-a7b0-e597177afc16.vsidx
/SHAHTRADE/.vs/SHAHTRADE/FileContentIndex/7b66dd75-fc5d-4b4b-99f7-652e6845a7d0.vsidx
/SHAHTRADE/.vs/SHAHTRADE/FileContentIndex
/SHAHTRADE/.vs/SHAHTRADE/v17/.suo
/SHAHTRADE/.vs/SHAHTRADE/v17/DocumentLayout.backup.json
/SHAHTRADE/.vs/SHAHTRADE/v17/DocumentLayout.json
